plugins/* linguist-documentation
simulation/* linguist-documentation
res/* linguist-documentation
plugins/* linguist-documentation
merges/* linguist-documentation
bin/* linguist-documentation
linguist-language=HTML
